.main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    justify-content: center;
    
    h1 {
        margin: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
    }

    .content {
        padding: 10px;
        padding-bottom: 30px;
        background-color: rgb(255, 240, 202);
        box-shadow: 0 0 10px 0 #00000070;
        width: 90%;
    }
    
    .main_heading {
        padding-left: 30px;
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: #c5edff;
        box-shadow: 0 0 10px 0 #00000070;
        color: rgb(56, 56, 56);
        width: 90%;
        height: 60px;
        margin-top: 20px;

        p {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: white;
            display: grid;
            place-content: center;
            box-shadow: 0 0 10px 0 #00000049;
            font-size: 0.7rem;
            cursor: pointer;
        }

        h3 {
            font-weight: 400;
            font-size: 1.2rem;
        }
    }
}